@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat+Subrayada:wght@400;700&display=swap');
:root {
    --primary-color: #5E3FB3;
    --secondary-color: #371C77;
    --accent1-color: #BCB3E4;
    --accent2-color: #89C8F5;
    --heading-font: 'Montserrat Subrayada';
    --paragraph-font: 'Josefin Sans';
    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent1-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color:var(--accent1-color);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  font-weight: 350;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-weight: 600;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
header,
footer {
    background: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.layout {
    flex: 1;
    display: flex;
    min-height: 0; /* avoid overflow issues */
}

nav {
    background-color: var(--nav-background-color);
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: var(--nav-link-color);
    display: block;
    padding: 20px;
    text-decoration: none;
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    flex: 1 1 auto;
    background: #fff;
    padding: 1rem;
}

aside {
    flex: 0 0 200px;
    background: #f9f9f9;
    padding: 1rem;
    border: 1px solid var(--secondary-color);
}