:root {
    --primary-color: #7257c2;
    --secondary-color: #150933;
    --accent1-color: #ececec;
    --accent2-color: #89C8F5;
    --heading-font: 'Montserrat Subrayada';
    --paragraph-font: 'Josefin Sans';
    --nav-background-color:var(--primary-color);
    --nav-link-color:var(--accent1-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color:var(--accent1-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--paragraph-font);
  font-weight: 350;
}

h1, h4, h5 {
    color: var(--secondary-color);
    font-family: var(--heading-font);
    font-weight: 600;
    padding: 2px;
    text-align: center;
}

h2 {
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--accent1-color);
    background-color: var(--primary-color);
    border-radius: 6px 6px 0 0;
    padding: 2px;
    text-align: center;
}

h3 {
    font-family: var(--heading-font);
    font-weight: 600;
    color: var(--secondary-color);
    border-top: dotted var(--secondary-color) 1px;
    padding-top: 20px;
    text-align: center;
}

p {
    padding: 4px;
    display: inline-flex;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: var(--primary-color);
    color: #fff;
    padding: 1rem;
    text-align: center;
}

footer {
    background: var(--primary-color);
    color: #fff;
    padding: 1rem;
    display: block;
    text-align: center;
}

img {
    max-height: 200px;
    width: auto;
    padding: 0px;
    border: solid #000 1px;
    margin: 10px;
}

span{
    display: block;
}

nav {
    background-color: var(--nav-background-color);
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: var(--nav-link-color);
    display: block;
    padding: 20px;
    text-decoration: none;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main {
    flex: 1 1 auto;
    background: #fff;
    padding: 1rem;
}

.sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 20px;
    
}

.card {
    border: var(--primary-color) 2px solid;
    border-radius: 10px;
    background-color: #fff;
}

.img_inline {
    display: flex;
    align-items: center;
    gap: 15px;
}

.album {
    display: grid;
    align-items: center;
    gap: 15px;
    padding-left: 50px;
    margin-bottom: 20px;
}

#course-title {
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
    font-weight: 600;
    font-size: 50px;
    padding: 2px;
    text-align: center;
}





