body {
    font-family: 'Roboto', sans-serif;
}
header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: rgb(178, 189, 194);

}
main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
section {
    padding: 1rem;
    background-color: #fff;
}